<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {
            margin-left: 10px;
        }
    </style>
    <script src="../angular_02/angular.min.js"></script>
</head>
<body ng-app="lckApp">
    <div ng-controller="myController">
        <!--<span ng-bind="person.name"></span>-->
        <ul>
            <li ng-repeat="obj in person">
                <div ng-repeat="(key,value) in obj">
                    <p>{{"我的key是："+key}}</p>
                    <p>{{"我的value是："+value}}</p>
                </div>
            </li>
        </ul>


    </div>
</body>
    <script>
        var app = angular.module("lckApp",[]);
        function myController($scope) {
            $scope.person = [{name:"cx",password:111},{name:"ck",password:222},{name:"cl",password:333}]
        }
        app.controller("myController",myController);
    </script>
</html>