<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div ng-app="" ng-init="name='haha';width=3;num1=1;person={name1:'cx',name2:'ck'};arr=[3,5]">
        <input type="text" ng-model="person.name1">
        <input type="text" ng-model="person.name2">
        <!--{{name}}-->
        <p>{{person.name1+person.name2+'fdgdsgdgdgsdff'+arr[0]+arr[1]}}</p>
    </div>
    <!--{{name}}-->
</body>
<script src="../angular_02/angular.min.js"></script>
</html>